* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navber {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    color: #fff;
  }
  .nav{
    top: 0px;
    position: sticky;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* height: 100vb; */
    padding: 10px;
  }