* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(2, 91, 255, 0.5),rgba(255, 0, 0, 0.7)),url('../../public/images/blog_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: #fff;
  }
    
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  button {
    padding: 10px 20px;
    background-color: #00a2ed;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00c1cf;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    cursor: pointer;
    color: #08c1ff;
  }
  
  .search-bar {
    padding: 10px;
    border: none;
    margin-right: 15px;
    border-radius: 4px;
    width: 300px;
  }
  
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vb;
    padding: 10px;
  }