<div class="profile-wrapper">
  <div class="profile-image-container">
    <img
      [src]="profileImage || 'images/profile-image.jpg'"
      class="profile-image"
      alt="Profile Image"
      (click)="triggerFileInput(fileInput)"
    />

    <input
      type="file"
      #fileInput
      (change)="onImageChange($event)"
      accept="image/*"
      hidden
    />
  </div>

  <div class="profile-details">
    <h2>{{name}}</h2>
    <div><P><strong>Email: </strong></P><input class="textBox" readonly="true" type="text" [(ngModel)]="email" /></div>
    <div><P><strong>Phone: </strong></P><input class="textBox" [readonly]="isReadonly" type="text" [(ngModel)]="phone" /></div>
    <div><strong>About Me: </strong><input class="textBox" [readonly]="isReadonly" type="text" [(ngModel)]="about" /></div>
    
    <div class="interests">
      <strong>Interests:</strong>
      <div *ngIf="!isReadonly">
        <input class="textBox" placeholder="Playing Games" type="text" [(ngModel)]='addInterest'>
        <button class="addInterest" (click)="addMyInterest()">add</button>
      </div>
    </div>
      <ul class="interest-items">
        <li  *ngFor="let interest of interests; let i = index">{{ interest }}
          <button *ngIf="!isReadonly" class="remove-btn" (click)="removeInterest(i)">x</button>
        </li>
      </ul>
      
    
  </div>
  <div class="updateButton">
    <button type="button" (click)="profileUpdate()">{{updateButton}}</button>
  </div>
</div>
