/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --color1: rgba(2, 91, 255, 0.5);
  --color2: rgba(255, 0, 0, 0.7);
}

body {
  background: url('../public/images/blog_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  background: linear-gradient(-45deg,
    rgb(0, 0, 0),
    rgba(1, 1, 21, 0.884),
    rgba(28, 0, 61, 0.776),
    rgba(78, 70, 0, 0.7),
    rgba(75, 31, 0, 0.6),
    rgba(123, 0, 12, 0.4),
    rgba(255, 0, 136, 0.3),
    rgba(218, 95, 0, 0.75),
    rgba(255, 0, 0, 0.8),
    rgba(255, 0, 0, 0.9),
    rgb(255, 0, 0)
  );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 100% 100%;
  }
  150% {
    background-position: 0% 75%;
  }
  30% {
    background-position: 50% 50%;

  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}
