.content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 8px;
  max-width:500px;
  
  margin-top: 10px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff0000;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
}
