* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }


.register-container{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;

}
.register-header{
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

.emptyField{
  color: red;
  margin: 3px;
}

.register-form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc ;
    border-radius: 6px;
    font-size: 16px;
}
.register-form button{
    width: 100%;
    padding: 12px;
    background-color: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.register-form button:hover {
    background-color: #002d54;
  }

  .login-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
  }
  .login-link a{
    margin-left: 5px;
  }